Source: libtertiusqbit-application-model-db-mysql-table-multistateactionlog-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-model-db-mysql-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-db-mysql-table-multistateactionlog-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-model-db-mysql-perl
Conflicts: libqbit-application-model-db-mysql-table-multistateactionlog-perl
Replaces: libqbit-application-model-db-mysql-table-multistateactionlog-perl
Description: Base MySQL table for logging multistates actions.
 Base MySQL table for logging multistates actions.
